* {
  padding: 0;
  margin: 0;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Droid Sans', sans-serif;
  outline: none;
}
::-webkit-scrollbar {
  background: transparent;
  width: 5px;
  height: 5px;
}
body {background-color: #ffffff}
#contents {
  position: relative;
  transition: .3s;
  margin-left: 290px;
  background-color: #ffffff;
}
#contents i {
font-size: 18px;
margin: 7px;
color: ;
}
#contents a {
text-decoration: none;
}

.margin {
  margin-left: 0 !important;
}
/* Start side navigation bar  */
.detail
{

color: #000;
text-align: center;
padding: 10px;
background: #f8f8f8;
font-weight:600;
}
.side-nav {
  float: left;
  height: 100%;
  width: 290px;
  background-color:#f6f6f6;
  color: #ffffff;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: .3s;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  z-index: 9999999;
}
.side-nav .close-aside {
  position: absolute;
  top: 7px;
  right: 7px;
  cursor: pointer;
  color: #EEE;
}
.side-nav .heading {
  background-color: #252636;
  padding: 15px 15px 15px 30px;
  overflow: hidden;
  border-bottom: 1px solid #2a2b3c
}

.side-nav .info {
  float: left;
  width: 69%;
  margin-left: 3%;
    color: #ffffff;
}
.side-nav .heading .info > h3 {margin: 0 0 5px}
.side-nav .heading .info > h3 > a {
  color: #EEE;
  font-weight: 100;
  margin-top: 4px;
  display: block;
  text-decoration: none;
  font-size: 18px;
}
.side-nav .heading .info > h3 > a:hover {
  color: #FFF;
}
.side-nav .heading .info > p {
  color: #BBB;
  font-size: 13px;
}
/* End heading */

.side-nav .categories > li {
  padding: 17px 40px 17px 30px;
  overflow: hidden;
  border-bottom: 1px solid rgba(255, 255, 255, 0.02);
  cursor: pointer;
}
.side-nav .categories > li > a {
  color: #AAA;
  text-decoration: none;
}
/* Start num: there are three options primary, danger and success like Bootstrap */
.side-nav .categories > li > a > .num {
  line-height: 0;
  border-radius: 3px;
  font-size: 14px;
  color: #FFF;
  padding: 0px 5px
}
.dang {background-color: #f35959}
.prim {background-color: #0275d8}
.succ {background-color: #5cb85c}
/* End num */

.side-nav  li {
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.9);
  list-style: none;
  cursor: pointer;
}
.side-nav a {
  color: #000000;
  text-decoration: none;
}

.side-nav  li > a:hover {
  color: red;
}
.side-nav .categories > li > i {
  font-size: 18px;
  margin-right: 5px
}
.show-side-nav {
  -webkit-transform: translateX(-290px);
  -moz-transform: translateX(-290px);
  transform: translateX(-290px);
}
#contents {
  position: relative;
  color: #ffffff;

}


/* Start media query */
@media (max-width: 767px) {
  .side-nav .categories > li {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .side-nav .search {
    padding: 10px 0 10px 30px
  }
}

/* End side navigation bar  */

label
{
  color: #000000;
}
.form-group
{
  background-color: #f6f6f6;
  padding: 15px;
}
.form-group .form-control
{
  margin:10px;
}
/*Table starts*/
.table table {
    border-collapse: collapse;
    border-spacing: 0;
    overflow: hidden;
    width: 100%;
}
.table table th
{
    text-align:center;
    padding: 16px;
    background-color: #252636;
    color: #ffffff;
    text-decoration: none;

}
.table table th a
{
  color: #fff;
  text-decoration: none;
}
.table table td
{
  padding: 10px;
  text-align: center;
}

.table tr:nth-child(even){background-color: #f2f2f2;padding: 16px;}

.table tr:hover {background-color: #ddd;}

/*Table end*/


/*Login/forgot password strats*/

.Register
{
    width:50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%!important;
    background: #ffffff;
    transition: 0.3s;
    border: 1px solid #f6f6f6;
    border-radius: 20px;
}
h2
{
    background-color: transparent;
    text-align: center;
}
.Register .form-control
{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000000;
    background-color: transparent;
    background-image: none;
    -webkit-box-shadow: none;
    border:none;
    border-bottom: 1px solid #000000;
    border-radius: 0;
    margin-bottom: 20px;
}

.Register .btn-danger:hover
{
    color: #fff;
    background-color: #ea3a3a;
    border-color: #ea3a3a;
    font-weight: 600;
}
.Register .error
{
    font-size: 15px;color:red;
    display:block;
    width: 100%;
    background-color: transparent!important;
}
.Register a {
    color: #fff;
    text-decoration: none;
    background: #5bc0de;
    padding: 9px 20px;
    text-decoration: none;  


}
.Register .closer
{
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    background: transparent;
    padding: 9px 20px;
    text-decoration: none;
}

.btn-info
{

    padding: 5px 10px;
     background-color: #4caf50;
    border-color: #4caf50;
    color:#ffffff;
    margin: 10px;
}
.btn-info:hover {

    color: #fff;
    background-color: #4caf50;
    border-color: #4caf50;
  }

/*Login/forgot password end*/ 

.admincontent
{
  width: 100%;
  padding: 40px;
}
.error
{
   font-size: 15px;color:red;
    display:block;
    width: 100%;
    background-color: transparent!important;
}
/* Start welcome */

.welcome {
  color: #CCC;
}
.welcome .content {
  background-color: #313348;
  padding: 15px;
  margin-top: 25px;
}
.welcome h2 {
  font-family: Calibri;
  font-weight: 100;
  margin-top: 0
}
.welcome p {
  color: #999;
}



/* Start bootstrap */
.navbar-right .dropdown-menu {
  right: auto !important;
  left: 0 !important;
}
.navbar-default {
  background-color:#4CAF50 !important;
  border: none !important;
  border-radius: 0 !important;
  margin-bottom: 0 !important;
}
.navbar-default .navbar-nav>li>a {
  color: #EEE !important;
  line-height: 55px !important;
  padding: 0 10px !important;
}
.navbar-default .navbar-brand {color:#FFF !important}
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {color: #EEE !important}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {background-color: transparent !important; color: #FFF !important}

.navbar-default .navbar-brand {line-height: 55px !important; padding: 0 !important}
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {color: #FFF !important}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {margin: 0 !important}
@media (max-width: 767px) {
  .navbar>.container-fluid .navbar-brand {
    margin-left: 15px !important;
  }
  .navbar-default .navbar-nav>li>a {
    padding-left: 0 !important;
  }
  .navbar-nav {
    margin: 0 !important;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border: none !important;
  }

}
.navbar-nav > li > .dropdown-menu
{
  left:-13px!important;
}
.navbar-default .navbar-nav>li>a {
  float: left !important;
}
.navbar-default .navbar-nav>li>a>span:not(.caret) {
  background-color: #e74c3c !important;
  border-radius: 50% !important;
  height: 25px !important;
  width: 25px !important;
  padding: 2px !important;
  font-size: 11px !important;
  position: relative !important;
  top: -10px !important;
  right: 5px !important
}
.dropdown-menu>li>a {
  padding-top: 5px !important;
  padding-right: 5px !important;
}
.navbar-default .navbar-nav>li>a>i {
  font-size: 18px !important;
}




/* Start media query */

@media (max-width: 767px) {
  #contents {
    margin: 0 !important
  }
  .statistics .box {
    margin-bottom: 25px !important;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #CCC !important
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #FFF !important
  }
  .navbar-default .navbar-toggle{
    border:none !important;
    color: #EEE !important;
    font-size: 18px !important;
  }
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {background-color: transparent !important}
}
.userdetail table {

    width: 100%;
}
.userdetail table th
{
    text-align: center;
    padding: 16px;
    background-color: #f8f8f8;
    color: #000000;
     border-bottom: 1px solid #ddd;
}
.userdetail table td
{
  padding: 16px;
  text-align: center;
   background-color: #f8f8f8;
}

#Adminlogin
{
  width: 100%;
}

#Adminlogin .form-group
{
  background-color: transparent;
  width: 100%;
}
#Adminforgetpassword
{
  width: 100%;
}
#Adminsetpassword >.form-group
{
  background-color: transparent;
}
 #Adminsetpassword
{
  width: 100%;
}
#Adminsetpassword .form-group
{
  background-color: transparent;
}
.paging
{
    padding: 20px;
    text-align: center;
}
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #f00f0f;
    border-radius: 10px;
        margin-right: 7px;
}

form
{
  width: 100%;
  margin-right: 0;
}
.table-condensed .disabled
{
    color: #ddd;
}