<nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">my<span class="main-color">Dashboard</span></a>
          </div>
        
        </div>
      </nav>