
<div class="userdetail" style="overflow-x:auto;margin-top:10px;">
<?php   echo $this->Html->link('Go back',array('controller'=>'AdminProjects','action'=>'index'),array('style' =>'color:#fff;background:#4caf50;padding:7px;margin:5px;float:left;')); 
echo $this->Html->link('Asign Developer',array('controller'=>'AdminProjects','action'=>'asignproject',$data['Projects']['id']),array('style' =>'color:#fff;background:#4caf50;padding:7px;margin:5px;float:right;')); ?> 
  <table>
    <tr>
      <th>Project name</th>
      <?php echo"<td>".$data['Projects']['projectname']."</td>"; ?>
    </tr>
    <tr>
      <th>Project details</th>
      <?php echo"<td>".$data['Projects']['projectdetails']."</td>"; ?>
    </tr>
     <tr>
      <th>Client name</th>
      <?php echo"<td>".$data['Projects']['clientname']."</td>"; ?>
    </tr>
     <tr>
      <th>Project Budget</th>
      <?php echo"<td>".$data['Projects']['budget']."</td>"; ?>
    </tr>
     <tr>
      <th>Duration</th>
      <?php echo"<td>".$data['Projects']['duration']."</td>"; ?>
    </tr>    <tr>
      <th>Start date</th>
      <?php echo"<td>".$data['Projects']['start_date']."</td>"; ?>
    </tr>
    <tr>
      <th>End date</th>
      <?php echo"<td>".$data['Projects']['end_date']."</td>"; ?>
    </tr>

    <tr>
      <th>Status</th>
      <?php 
      if($data['Projects']['status']==0)
      {
        $status = "<span style='color:#888  ;'>Pending</span>";;
      }
      elseif($data['Projects']['status']==1)
      {
        $status = "<span style='color:green;'>Running</span>";;
      }
      elseif($data['Projects']['status']==2)
      {
        $status = "<span style='color:blue;'>complete</span>";
      }else
      {
        $status = "<span style='color:green;'>Finish</span>";;
      }

      echo"<td>".$status."</td>";  ?>
    </tr>
     <tr>
      <th>Project manager</th>
      <?php echo"<td>".$data['Projects']['project_manager']."</td>"; ?>
    </tr>
<?Php
if(isset($userDetails))
{
  $num=1;
  foreach ($userDetails as $key =>  $userDetails) {
    ?>
        <tr>
      <th>Developer Name <?php echo $num; ?></th>
      <?php echo"<td>".$userDetails['Users']['username'].'   '.$this->Html->link('Remove',array('controller'=>'AdminProjects','action'=>'remove',$userDetails['Users']['id']),array('style' =>'color:#fff;background:#dd1313;padding:5px;float:right;'))."</td>"; ?>
    </tr>

    <?php
    $num++;
  }
}

?>

  </table>
</div>