   <section id="contents">
 <div class="table" style="overflow-x:auto;margin-top:20px;">
  <table>
    <tr>
      <th>Sr. No.</th>
      <th>User id</th>
      <th>Username</th>
      <th>Action</th>
    </tr>
    <?php
    if(count($row))

    {
      $num=1;
      foreach($row as $data)
      {
        echo"<tr>";
        echo"<td>".$num."</td>";
        $num++;
        echo"<td>".$data['User']['id']."</td>";
        echo"<td>".$data['User']['username']."</td>";
        echo"<td>".$this->Html->link('View Leaves',array('controller'=>'AdminLeaves','action'=>'viewleave',$data['User']['id']),array('style' =>'color:#fff;background:red;padding:7px;'))."</td>";  
        echo"</tr>";
      }
    }
    else{
      echo "<tr><td colspan='3'>No Record Found</td></tr>";
    }
    ?>
  </table>
</div>
</section>
