<div class="flash-message-failure">
	  <a href="javascript:void(0)" class="closer" onclick="closer()" style="float:right;padding: 0;">×</a>
  <?php echo $message; ?>
</div>

<style type="text/css">
  div.flash-message-failure {
width: 100%;

color: #dd0909;

background: #30dbff;

margin-left: 0px;

font-size: 17px;

padding: 10px;

text-align: center;


}
</style>