<div id="success" class="flash-message-success">
  <?php echo $message; ?>
  <a href="javascript:void(0)" class="closer" onclick="closer()" style="float:right;padding: 0;">×</a>
</div>

<style type="text/css">
  div.flash-message-success {
width: 100%;

color: #5409dd;;

background: #30dbff;

margin-left: 0px;

font-size: 17px;

padding: 10px;

text-align: center;

}
</style>
<script type="text/javascript">
	function closer() {
    document.getElementById("success").style = "display:none";
}
</script>