
<div class="headerhome">
	<img src="img\logo.png">
</div>
<div class="middlehome">
	<b>Techzapp Solutions <span class="label label-info">Payroll</span></b>
	<p>Technology is a means to an end - You get the means correct and the ends will follow.We at Techzapp realize the implication of this statement.We have the people,the technology and the solution to exceed the expectation & deliver projects on the cost,on the time,every time.</p>
	<button class="btn-info"><?php echo $this->Html->link('Login Payroll',array('controller'=>'Logins','action'=>'login'),array('class'=>'btn-info'));?></button>
</div>
<div class="footerhome" style="">

	<p>www.techzapp.com</p>
</div>
