html {
    scroll-behavior: smooth;
}
body
{
    font-family: 'Conv_orkney.regular';
    width:100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background:#181a31!important;
    overflow-x: hidden;
}

/*@media queries starts*/
@media screen and (max-width: 992px)
{
    .home img {
        max-width: 200px;
    }
    .Register {
        width: 80%!important;
        margin-top: 20%!important;
    }
    .Register a {
        width: 100%!important;
        display:block;
        text-align: center;    
    }
    .Register .btn-info {
        width: 100%!important;
        display:block;
        margin: 0px 0px 20px;;
    }
    #txt
    {
        font-size: 80px!important;
    }
    .content {
        width: 80%!important;
        margin-top:15%;

    }
    .content a {
        width: 100%!important;
        display:block;
        text-align: center;    
    }
    .content .btn-info {
        width: 100%!important;
        display:block;
        margin: 10px 0px 20px!important;
    }

    .middlehome p
    {
        
    }
}
/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    .home img {
        max-width: 80px !important;
    }

    .Register {
        width: 80%!important;
        margin-top: 20%!important;
    }

    #txt
    {
        max-width: 100% !important;
    }
    .content input[type=submit]
    {
        width: 100% !important;
        text-align: justify;
    }
    .middlehome p
    {
       padding: 20px!important;
   }
}
@media screen and (max-width: 360px) {

    .middlehome p
    {
       padding: 20px!important;
   }
   .Register {
    width: 80%!important;
    margin-top: 20%!important;
}
.Register a {
    width: 100%!important;
    display:block;
    text-align: center;    
}
.Register .btn-info {
    width: 100%!important;
    display:block;
    margin:0px 0px 20px!important;
}
#txt
{
    font-size: 80px!important;
}
.content {
    width: 80%!important;
    margin-top:15%;

}
.content a {
    width: 100%!important;
    display:block;
    text-align: center;    
}
.content .btn-info {
    width: 100%!important;
    display:block;
    margin:10px 0px 20px!important;
}
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/*@media queries end*/


/*Payroll introduction page starts*/

.headerhome
{
    width:100vw ;
    height:15vh;
    background-color:#ebf0f2;
    text-align: center;
    padding: 15px;
}
.middlehome
{
    width:100vw;
    height:70vh;
    background-color:#fff;
    color: #000;
    text-align: center;
    padding:50px;
}
.middlehome b
{
    font-size: 25px;
    color: #000;
    text-align: center;

}
.middlehome p
{
    padding:50px; 
    text-align:center;
    font-size:16px;
    color: #000;
}
.footerhome
{
    width:100vw;
    height:15vh;
    background-color:#32c2d9;
    text-align: center;
    color: #fff;padding:40px;
}

/*Payroll introduction page end*/ 


/*Side nevigation bar strats*/

#mySidenav
{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    left:0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    
}

.sidenav1 a
{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color:#ffffff;
    display: block;
    transition: 0.3s;
   /*  border-bottom: 1px solid #ffffff;*/
}

#mySidenav  .closebtn
{
    position: absolute;
    top: 7px;
    right: 0px;
    font-size: 40px;
    margin-left: 20px;
    color: #ffffff  ;
    margin-top: -14px;
}
#mySidenav  .closebtn:hover
{
 color: red
}
#mySidenav .list
{
    margin-top:20px;
    list-style: none;
}

#main
{
    transition: margin-left .5s;
    padding: 16px;
}

/*Side nevigation bar end*/


/*After login homepage starts*/

.home
{
   
    text-align: center;
    color: #ffffff;
    padding-top: 25px;

}
.home img
{
    max-width: 200px;
}
.home h1
{
    background-color: transparent;
}

/*Center class starts*/

.center
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*center class end*/

#txt
{
    font-size:100px;
}
/*After login homepage end*/

/*Content starts*/
.content
{
    width:65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color:#000000;
    background-color:#f8f8f8;

}
.content .closecontent
{
    float: right;
    font-size: 30px;
    color: #fff;
    background-color: transparent;
}
.content .closecontent:hover
{
color: red;
}
.content_header
{
    background-color:#32c2d9;
    padding: 10px;
}
.content p
{
    color:#ffffff;
    font-size: 20px;
    font-weight: 600;
    text-align: justify;
}
.content label
{
    color:#000000;
}
.content input[type=text],select {
    width: 100%;
    padding: 12px 16px;
    margin: 8px 0;
    display: block;
    border: 2px solid #32c2d9;
    border-radius: 4px;
    box-sizing: border-box;
}
.content input[type=submit]
{
    width: 20%;
    background-color: #32c2d9;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.content input[type=submit]:hover {
    background-color: #32c2d9;
}
.content .error
{
    font-size: 15px;color:red;
    display:block;
    width: 100%;
    background-color: transparent!important;
}

.content a 
{
    color: #fff;
    text-decoration: none;
    background:#32c2d9;
    padding: 9px 20px;
    text-decoration: none;
}

/*Content end*/

/*Table starts*/
.content .table table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
    width: 100%;
}
.content .table table th
{
    text-align: center;
    padding: 16px;
    background-color: #32c2d9;
    color: #ffffff;
}
.content .table table td
{
    text-align: center;
    padding: 16px;
}
.contenttr:nth-child(even) {
    background-color: #f2f2f2
}
/*Table end*/

.table-condensed .disabled
{
    color: #ddd;
}

/*Login/forgot password strats*/

.Register
{
    width:50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%!important;
    background: #ffffff;
    transition: 0.3s;
    border: 1px solid #f6f6f6;
    border-radius: 20px;
}
h2
{
    background-color: transparent;
    text-align: center;
}
.Register .form-control
{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000000;
    background-color: transparent;
    background-image: none;
    -webkit-box-shadow: none;
    border:none;
    border-bottom: 1px solid #000000;
    border-radius: 0;
    margin-bottom: 20px;
}

.Register .btn-danger:hover
{
    color: #fff;
    background-color: #ea3a3a;
    border-color: #ea3a3a;
    font-weight: 600;
}
.Register .error
{
    font-size: 15px;color:red;
    display:block;
    width: 100%;
    background-color: transparent!important;
}
.Register a {
    color: #fff;
    text-decoration: none;
    background: #5bc0de;
    padding: 9px 20px;
    text-decoration: none;  


}
.Register .closer
{
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    background: transparent;
    padding: 9px 20px;
    text-decoration: none;
}
/*Login/forgot password end*/ 
.paging
{
    padding: 20px;
    text-align: center;
}


/**/
form
{
    width:100%;
    padding:20px;
}
.form-group
{
    text-align: justify;
}

.btn-info
{
    padding: 5px 20px;
    color:#ffffff;
    margin: 10px;
}


.paging .disabled
{
    color: #ddd;
    border: 1px solid #ccc;
    padding: 7px;
   
}