<div class="content">
  <div class="table" style="overflow-x:auto;margin-top:20px;">
  <?php
  $paginator = $this->Paginator;
  echo "<table>";
  echo "<tr>";
  echo "<th>" . $paginator->sort('no', 'No') . "</th>";
  echo "<th>" . $paginator->sort('title', 'Title') . "</th>";
  echo "<th>" . $paginator->sort('date', 'Date') . "</th>";
  echo "<th>" . $paginator->sort('discription', 'Description') . "</th>";
   echo "<th>" . $paginator->sort('status', 'Status') . "</th>";
  echo "</tr>";
  if($data){

    $num=1;
    $num = $this->Paginator->counter('{:start}');
    foreach( $data as $data){
     
      echo "<tr>";
      echo"<td>".$num."</td>";
      $num=$num+1;
      echo"<td>".$data['infraissue']['title']."</td>";
      echo"<td>".$data['infraissue']['date']."</td>";
       echo"<td>".$data['infraissue']['discription']."</td>";

 echo"<td>".$data['infraissue']['status']."</td>"; 
   echo "</tr>";

    }
    echo "</table>";
    echo $this->element('paginate');

  }
  else{
    echo "<tr><td colspan='5'>No Record Found</td></tr>";
  }
  ?>

</div>
<?