 <div class="table" style="overflow-x:auto;margin-top:20px;">
    <table>
        <tr>
          <th>User id.</th>    
          <th>Date</th>  
          <th>Project name</th> 
          <th>Hour</th>
          <th>Comment</th>
      </tr>
      <?php
      if(count($row))
      {
        foreach($row as $data)
        {
            echo"<tr>";
            echo"<td>".$data['proceedcheckout']['user_id']."</td>";
            echo"<td>".$data['proceedcheckout']['date']."</td>";
            echo"<td>".$data['proceedcheckout']['projectname']."</td>";
             echo"<td>".$data['proceedcheckout']['hour']."</td>";
              echo"<td>".$data['proceedcheckout']['comment']."</td>";
            echo"</tr>";
        }
    }
    else{
        echo "<tr><td colspan='3'>No Record Found</td></tr>";
    }
    ?>
</table>
</div>
